<section class="flex flex-wrap">

  <header class="bg-gray-head dark:bg-gray-head-dk lg:bg-gray-high lg:dark:bg-gray-high-dk
                 border-solid border-y border-gray-bd dark:border-gray-bd-dk lg:border-none
                 w-full lg:w-1/4 px-14 py-6 lg:py-12
                 text-center lg:text-right"
          style="border-top-width: 1px;border-bottom-width: 1px;">
                 <h2 class="text-typo-title dark:text-typo-title-dk leading-6 text-lg uppercase font-semibold lg:border-none">
      Contact
    </h2>
  </header>

  <div class="bg-gray-low dark:bg-gray-low-dk
              w-full lg:w-3/4 px-14 pt-6 lg:pt-12 pb-0 lg:pb-6">
    <strapi-contact-title [contact]="data.contact" [target]="'bottom'"></strapi-contact-title>
    <hr class="mb-8" />
    <strapi-contact-item [contact]="data.contact"></strapi-contact-item>
  </div>

</section>
