<section class="stripped flex flex-wrap">

  <header class="bg-gray-head dark:bg-gray-head-dk lg:bg-gray-mid lg:dark:bg-gray-low-dk
                 border-solid border-y border-gray-bd dark:border-gray-bd-dk lg:border-none
                 w-full lg:w-1/4 px-14 py-6 lg:py-12
                 text-center lg:text-right"
          style="border-top-width: 1px;border-bottom-width: 1px;">
    <h2 class="text-typo-title dark:text-typo-title-dk leading-6 text-lg uppercase font-semibold lg:border-none">
      Diplômes et formations
    </h2>
    <div></div>
  </header>

  <div class="bg-main dark:bg-main-dk
              w-full lg:w-3/4 px-14 pt-6 lg:pt-12 pb-6">

    <div class="timeline relative border-gray-bd dark:border-gray-bd-dk border-l-2 ml-4 pl-6 pt-12  lg:w-10/12"
         style="border-left-width: 2px;">

      <div class="timeline-end absolute bottom-0 h-px w-4 border-gray-bd dark:border-gray-bd-dk border-b-2"
            style="left:-9px">
      </div>

      <div *ngFor="let item of data.educations.data" class="timeline-item relative">
        <div class="timeline-point bg-amber-400 w-2.5 h-2.5 absolute rounded-full"
             style="top: 3px; left:-30px">
        </div>
        <div class="item-content pb-6">
          <div class="flex flex-wrap">
            <div class="w-full lg:w-2/5 pr-14">
              <div class="timeframe  mb-1.5 opacity-60 text-xs">
                {{item.attributes.date_start}} au {{item.attributes.date_end}}
              </div>
              <h4 class="title mb-1.5 text-typo-title dark:text-typo-title-dk text-xs font-medium">
                <markdown>{{item.attributes.level}}</markdown>
              </h4>
              <h3 class="heading mb-1.5 text-typo-title dark:text-typo-title-dk uppercase font-semibold">
                {{item.attributes.title}}
              </h3>
              <div class="location  mb-1.5 opacity-60 text-xs font-medium">
                {{item.attributes.place}}
              </div>
            </div>
            <markdown class="w-full lg:w-3/5 pr-14 text-sm">
              {{item.attributes.content}}
            </markdown>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
