<section class="flex flex-wrap">
  <header class="bg-gray-head dark:bg-gray-head-dk lg:bg-gray-mid lg:dark:bg-gray-low-dk
                 border-solid border-y border-gray-bd dark:border-gray-bd-dk lg:border-none
                 w-full lg:w-1/4 px-14 py-6 lg:py-12
                 text-center lg:text-right"
          style="border-top-width: 1px;border-bottom-width: 1px;">
    <h2 class="text-typo-title dark:text-typo-title-dk leading-6 text-lg uppercase font-semibold lg:border-none">
      Compétences
    </h2>
    <div></div>
  </header>

  <div class="bg-main dark:bg-main-dk
              w-full lg:w-3/4 px-14 pt-6 lg:pt-12 pb-0 lg:pb-6">
    <div class="lg:w-10/12">

    <h2 class="text-typo-title dark:text-typo-title-dk leading-6 text-lg uppercase font-normal pb-6">
      Langages
    </h2>

    <div class="flex flex-wrap justify-start justify-items-start gap-6 pb-12">

      <div class="max-w-xs min-w-min rounded overflow-hidden shadow-lg
                  bg-gray-high dark:bg-gray-high-dk
                  flex flex-row items-center gap-5 pr-6">
        <div class="rounded hover:rounded-full bg-gray-low dark:bg-gray-low-dk"
             style="background-image: url(assets/images/icons/php-1.svg);
                    height: 64px; width: 64px;
                    background-repeat: no-repeat;
                    background-position-x: 50%;
                    background-position-y: 50%;
                    background-size: contain;">
        </div>
        <div class="flex-grow">
          <h3 class="text-typo-title dark:text-typo-title-dk font-semibold uppercase text-lg">
            PHP
          </h3>
        </div>
      </div>

      <div class="max-w-xs min-w-min rounded overflow-hidden shadow-lg
                  bg-gray-high dark:bg-gray-high-dk
                  flex flex-row items-center gap-5 pr-6">
        <div class="rounded hover:rounded-full bg-gray-low dark:bg-gray-low-dk"
             style="background-image: url(assets/images/icons/html-1.svg);
                    height: 64px; width: 64px;
                    background-repeat: no-repeat;
                    background-position-x: 50%;
                    background-position-y: 50%;
                    background-size: contain;">
        </div>
        <div class="flex-grow">
          <h3 class="text-typo-title dark:text-typo-title-dk font-semibold uppercase text-lg">
            HTML
          </h3>
        </div>
      </div>

      <div class="max-w-xs min-w-min rounded overflow-hidden shadow-lg
                  bg-gray-high dark:bg-gray-high-dk
                  flex flex-row items-center gap-5 pr-6">
        <div class="rounded hover:rounded-full bg-gray-low dark:bg-gray-low-dk"
             style="background-image: url(assets/images/icons/css-3.svg);
                    height: 64px; width: 64px;
                    background-repeat: no-repeat;
                    background-position-x: 50%;
                    background-position-y: 50%;
                    background-size: contain;">
        </div>
        <div class="flex-grow">
          <h3 class="text-typo-title dark:text-typo-title-dk font-semibold uppercase text-lg">
            CSS
          </h3>
        </div>
      </div>

      <div class="max-w-xs min-w-min rounded overflow-hidden shadow-lg
                  bg-gray-high dark:bg-gray-high-dk
                  flex flex-row items-center gap-5 pr-6">
        <div class="rounded hover:rounded-full bg-gray-low dark:bg-gray-low-dk"
             style="background-image: url(assets/images/icons/javascript.svg);
                    height: 64px; width: 64px;
                    background-repeat: no-repeat;
                    background-position-x: 50%;
                    background-position-y: 50%;
                    background-size: contain;">
        </div>
        <div class="flex-grow">
          <h3 class="text-typo-title dark:text-typo-title-dk font-semibold uppercase text-lg">
            Javascript
          </h3>
        </div>
      </div>

      <div class="max-w-xs min-w-min rounded overflow-hidden shadow-lg
                  bg-gray-high dark:bg-gray-high-dk
                  flex flex-row items-center gap-5 pr-6">
        <div class="rounded hover:rounded-full bg-gray-low dark:bg-gray-low-dk"
             style="background-image: url(assets/images/icons/typescript-2.svg);
                    height: 64px; width: 64px;
                    background-repeat: no-repeat;
                    background-position-x: 50%;
                    background-position-y: 50%;
                    background-size: contain;">
        </div>
        <div class="flex-grow">
          <h3
          class="text-typo-title dark:text-typo-title-dk font-semibold uppercase text-lg"> TypeScript </h3>
        </div>
      </div>
    </div>

    <h2 class="text-typo-title dark:text-typo-title-dk leading-6 text-lg uppercase font-normal pb-6">
      Frameworks & librairies
    </h2>

    <div class="flex flex-wrap justify-start justify-items-start gap-6 pb-12">


      <div class="max-w-xs min-w-min rounded overflow-hidden shadow-lg
                  bg-gray-high dark:bg-gray-high-dk
                  flex flex-row items-center gap-5 pr-6">
        <div class="rounded hover:rounded-full bg-gray-low dark:bg-gray-low-dk"
             style="background-image: url(assets/images/icons/angular-icon-1.svg);
                    height: 64px; width: 64px;
                    background-repeat: no-repeat;
                    background-position-x: 50%;
                    background-position-y: 50%;
                    background-size: contain;">
        </div>
        <div class="flex-grow">
          <h3 class="text-typo-title dark:text-typo-title-dk font-semibold uppercase text-lg">
            AngularJS & Angular
          </h3>
        </div>
      </div>

      <div class="max-w-xs min-w-min rounded overflow-hidden shadow-lg
                  bg-gray-high dark:bg-gray-high-dk
                  flex flex-row items-center gap-5 pr-6">
        <div class="rounded hover:rounded-full bg-gray-low dark:bg-gray-low-dk"
             style="background-image: url(assets/images/icons/laravel-2.svg);
                    height: 64px; width: 64px;
                    background-repeat: no-repeat;
                    background-position-x: 50%;
                    background-position-y: 50%;
                    background-size: contain;">
        </div>
        <div class="flex-grow">
          <h3 class="text-typo-title dark:text-typo-title-dk font-semibold uppercase text-lg">
            Laravel
          </h3>
        </div>
      </div>

      <div class="max-w-xs min-w-min rounded overflow-hidden shadow-lg
                  bg-gray-high dark:bg-gray-high-dk
                  flex flex-row items-center gap-5 pr-6">
        <div class="rounded hover:rounded-full bg-gray-low dark:bg-gray-low-dk"
             style="background-image: url(assets/images/icons/symfony.svg);
                    height: 64px; width: 64px;
                    background-repeat: no-repeat;
                    background-position-x: 50%;
                    background-position-y: 50%;
                    background-size: contain;">
        </div>
        <div class="flex-grow">
          <h3 class="text-typo-title dark:text-typo-title-dk font-semibold uppercase text-lg">
            Symfony
          </h3>
        </div>
      </div>

      <div class="max-w-xs min-w-min rounded overflow-hidden shadow-lg
                  bg-gray-high dark:bg-gray-high-dk
                  flex flex-row items-center gap-5 pr-6">
        <div class="rounded hover:rounded-full bg-gray-low dark:bg-gray-low-dk"
             style="background-image: url(assets/images/icons/openlayers.svg);
                    height: 64px; width: 64px;
                    background-repeat: no-repeat;
                    background-position-x: 50%;
                    background-position-y: 50%;
                    background-size: contain;">
        </div>
        <div class="flex-grow">
          <h3 class="text-typo-title dark:text-typo-title-dk font-semibold uppercase text-lg">
            Openlayers
          </h3>
        </div>
      </div>
    </div>

    <h2 class="text-typo-title dark:text-typo-title-dk leading-6 text-lg uppercase font-normal pb-6">
      Base de données
    </h2>

    <div class="flex flex-wrap justify-start justify-items-start gap-6 pb-12">

      <div class="max-w-xs min-w-min rounded overflow-hidden shadow-lg
                  bg-gray-high dark:bg-gray-high-dk
                  flex flex-row items-center gap-5 pr-6">
        <div class="rounded hover:rounded-full bg-gray-low dark:bg-gray-low-dk"
             style="background-image: url(assets/images/icons/postgresql.svg);
                    height: 64px; width: 64px;
                    background-repeat: no-repeat;
                    background-position-x: 50%;
                    background-position-y: 50%;
                    background-size: contain;">
        </div>
        <div class="flex-grow">
          <h3 class="text-typo-title dark:text-typo-title-dk font-semibold uppercase text-lg">
            PostgreSQL
          </h3>
        </div>
      </div>


      <div class="max-w-xs min-w-min rounded overflow-hidden shadow-lg
                  bg-gray-high dark:bg-gray-high-dk
                  flex flex-row items-center gap-5 pr-6">
        <div class="rounded hover:rounded-full bg-gray-low dark:bg-gray-low-dk"
             style="background-image: url(assets/images/icons/mysql-6.svg);
                    height: 64px; width: 64px;
                    background-repeat: no-repeat;
                    background-position-x: 50%;
                    background-position-y: 50%;
                    background-size: contain;">
        </div>
        <div class="flex-grow">
          <h3 class="text-typo-title dark:text-typo-title-dk font-semibold uppercase text-lg">
            MySQL
          </h3>
        </div>
      </div>
    </div>

  </div>

</div>
</section>
