<article>

  <section class="flex flex-wrap">
    <header class="relative w-full lg:w-1/4 px-14 py-7 md:py-12
                 justify-center lg:justify-end
                 bg-gray-sombre text-center lg:text-right
                 border-solid border-t border-b border-gray-timeline lg:border-none"
            style="border-top-width: 1px;border-bottom-width: 1px;">

      <div class="absolute top-1 left-2">
        <a [routerLink]="['/realisations']" class=" flex flex-row items-center text-sm text-yellow-500  hover:text-gray-link">
          <div class="bg-yellow-500 w-4 h-4"
                style="-webkit-mask: url(assets/images/keyboard_backspace.svg) 50% 50% no-repeat;
                      mask: url(assets/images/keyboard_backspace.svg) 50% 50% no-repeat ;
                      -webkit-mask-size: cover;
                      mask-size: cover;"></div>
          <div class="inline-block">retour</div>
        </a>
      </div>

      <h2 class="text-gray-heading leading-6 text-lg uppercase font-semibold">
        {{ data.realisation.attributes.title }}
      </h2>
      <div class="text-gray-typo mb-6 lg:mb-0">
        {{ data.realisation.attributes.intro }}
      </div>

      <ng-container *ngIf="data.realisation.attributes.link">
        <div class="text-right">
          <a [href]="data.realisation.attributes.link" class=" inline-flex flex-row items-center text-sm text-yellow-500  hover:text-gray-link"
            target="_blank">
            <div class="bg-yellow-500 w-6 h-6 mr-1"
                  style="-webkit-mask: url(assets/images/link.svg) 50% 50% no-repeat;
                        mask: url(assets/images/link.svg) 50% 50% no-repeat ;
                        -webkit-mask-size: cover;
                        mask-size: cover;">
            </div>
            <div class="inline-block">site</div>
          </a>
        </div>
      </ng-container>
    </header>
    <div class="bg-gray-clair w-full py-6 lg:w-3/4">
      <div class="image-shadow image-rotate w-full md:w-3/4 m-auto">
        <img src="{{data.strapiUrl + data.realisation.attributes.img.data.attributes.url}}"
             class="w-full">
      </div>
    </div>
  </section>

  <section class="flex flex-wrap">
    <header class="bg-gray-clair w-full lg:w-1/4 text-center lg:text-right px-14 py-7 md:py-12
    hidden lg:block
                   border-solid border-t border-b border-gray-timeline lg:border-none"
            style="border-top-width: 1px;border-bottom-width: 1px;">
    </header>
    <div class="bg-gray-sombre w-full lg:w-3/4 px-6 md:px-12 pt-6 pb-6">
      <markdown  [data]="data.realisation.attributes.content"  class="text-sm"></markdown>
    </div>
  </section>

</article>
