<article>

  <section class="flex flex-wrap">

    <header class="bg-gray-high dark:bg-gray-high-dk
                   border-solid border-y border-gray-bd dark:border-gray-bd-dk lg:border-none
                   w-full lg:w-1/4 px-14 py-6 lg:py-12
                   text-center lg:text-right
                   relative"
            style="border-top-width: 1px;border-bottom-width: 1px;">

      <div class="absolute top-1 left-2">
        <a [routerLink]="['/realisations']"
           class="flex flex-row items-center text-sm
                  text-amber-400 dark:text-yellow-500  hover:text-main dark:hover:text-main-dk">
          <div class="bg-amber-400 dark:bg-yellow-500 w-4 h-4"
               style="-webkit-mask: url(assets/images/keyboard_backspace.svg) 50% 50% no-repeat;
                      mask: url(assets/images/keyboard_backspace.svg) 50% 50% no-repeat ;
                      -webkit-mask-size: cover;
                      mask-size: cover;"></div>
          <div class="inline-block">retour</div>
        </a>
      </div>

      <h2 class="text-typo-title dark:text-typo-title-dk leading-6 text-lg uppercase font-semibold lg:border-none">
        {{ data.realisation.attributes.title }}
      </h2>
      <div class="text-typo-subtitle dark:text-typo-subtitle-dk mb-6 lg:mb-0">
        {{ data.realisation.attributes.intro }}
      </div>

      <ng-container *ngIf="data.realisation.attributes.link">
        <div class="text-right">
          <a [href]="data.realisation.attributes.link"
             class="inline-flex flex-row items-center text-sm
                    text-amber-400 dark:text-yellow-500  hover:text-main dark:hover:text-main-dk"
            target="_blank">
            <div class="bg-amber-400 dark:bg-yellow-500 w-6 h-6 mr-1"
                  style="-webkit-mask: url(assets/images/link.svg) 50% 50% no-repeat;
                        mask: url(assets/images/link.svg) 50% 50% no-repeat ;
                        -webkit-mask-size: cover;
                        mask-size: cover;">
            </div>
            <div class="inline-block">site</div>
          </a>
        </div>
      </ng-container>
    </header>

    <div class="bg-gray-low lg:dark:bg-main-dk
                w-full lg:w-3/4 px-14 pt-6 lg:pt-12 pb-12">
      <div class="image-shadow image-rotate w-full md:w-3/4 m-auto">
        <img src="{{data.strapiUrl + data.realisation.attributes.img.data.attributes.url}}"
             class="w-full">
      </div>
    </div>
  </section>

  <section class="flex flex-wrap">
    <header class="bg-gray-head dark:bg-gray-head-dk lg:bg-gray-mid lg:dark:bg-gray-low-dk
                   w-full lg:w-1/4 text-center lg:text-right px-14 py-7 md:py-12
                   hidden lg:block
                   border-solid border-t border-b border-gray-bd lg:border-none"
            style="border-top-width: 1px;border-bottom-width: 1px;">
    </header>
    <div class="bg-main dark:bg-main-dk w-full lg:w-3/4 px-6 md:px-12 pt-6 pb-6">
      <markdown  [data]="data.realisation.attributes.content"  class="text-sm block lg:w-10/12"></markdown>
    </div>
  </section>

</article>
