<div class="max-w-4xl flex flex-row flex-wrap mb-6 content-center justify-between gap-6 pb-6">

  <div class="w-full sm:w-48 ">
    <h4 class="text-sm font-semibold mb-2">Adresse</h4>
    <address class="text-sm">
      {{contact.attributes?.adresse}} <br>
      {{contact.attributes?.cp}} {{contact.attributes?.ville}}
    </address>
  </div>

  <div class="w-full sm:w-48" >
    <h4 class="text-sm font-semibold mb-2">Téléphone</h4>
    <p class="text-sm">
      {{contact.attributes?.tel}}
    </p>
  </div>

  <div class="w-full sm:w-48 " >
    <a href="#" target="_blank" class="t-link-container">
      <h4 class="text-sm font-semibold mb-2">Web</h4>
      <p class="text-sm">
        <span class="t-link-container__item--blended">
          <a href="#">
            {{contact.attributes?.link}}</a>
        </span>
      </p>
    </a>
  </div>

  <div class="w-full sm:w-48" >
    <h4 class="text-sm font-semibold mb-2">Email</h4>
    <p class="text-sm">
      <span class="t-link-container__item--blended">
        {{contact.attributes?.email}}
      </span>
    </p>
  </div>

</div>
