
body {
  font-family: 'Roboto', 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

hr {
  height: 2px;
  color: #ccc;
  background: #404242;
  font-size: 0;
  border: 0;
}

.citation {
  display: flex;
  flex-direction: row;
  font-style: italic;
  margin-bottom: 1.75rem;
}

.citation > .border {
  display: block;
  width: 5px;
  background: rgb(224, 168, 13);
  border-radius: 2.5px;
}

.citation blockquote {
  position: relative;
  font-style: italic;
  text-align: center;
  width: 80%;
  line-height: 24px;
  width: 100%;
}

.citation blockquote:before,
.citation blockquote:after{
  color: #E8E8E8;
  font-size: 34px;
}

.citation blockquote:before{
  content: "\00201C ";
  margin-right: 0.85rem;
  position: absolute;
  right: 100%;
  top: 0;
}

.citation blockquote:after{
  content: ' \00201E';
  margin-left: 0.8rem;
  position: absolute;
  left: 100%;
  bottom: 0;
}


