<h1 class="text-4xl mb-2">
  <span class="block font-light lowercase">
    {{contact.attributes?.prenom}}
  </span>
  <span class="block font-bold uppercase text-yellow-500">
    {{contact.attributes?.nom}}
  </span>
</h1>

<ng-container *ngIf="target==='CV'">
  <h2 class="font-light text-sm ml-1 text-gray-typo mb-4">
    <span class="">
      {{contact.attributes?.title}}
    </span>
  </h2>
  <div class="citation">
    <blockquote>
      {{contact.attributes?.quote}}
    </blockquote>
  </div>
</ng-container>
