<h1 class="text-4xl mb-4">
  <span class="block text-typo dark:text-typo-dk font-light lowercase">
    {{contact.attributes?.prenom}}
  </span>
  <span class="block text-amber-400 dark:text-yellow-500 font-bold uppercase">
    {{contact.attributes?.nom}}
  </span>
</h1>

<ng-container *ngIf="target==='CV'">
  <h2 class="font-light text-sm ml-1 text-typo dark:text-typo-dk mb-4">
    <span class="">
      {{contact.attributes?.title}}
    </span>
  </h2>
  <div class="citation">
    <blockquote>
      {{contact.attributes?.quote}}
    </blockquote>
  </div>
</ng-container>
