

<section class="flex flex-wrap">

  <header class="bg-gray-head dark:bg-gray-head-dk lg:bg-gray-mid lg:dark:bg-gray-low-dk
                 border-solid border-y border-gray-bd dark:border-gray-bd-dk lg:border-none
                 w-full lg:w-1/4 px-14 py-6 lg:py-12
                 text-center lg:text-right
                 relative"
          style="border-top-width: 1px;border-bottom-width: 1px;">

    <div class="flex flex-row items-center">

      <!-- <a [routerLink]="['/']"
          class="hidden lg:inline-block px-6 py-2 border border-amber-400 dark:border-yellow-500 text-amber-400 dark:text-yellow-500
                  focus:border-gray-bd dark:focus:border-gray-bd-dk
                  font-medium text-xs leading-tight uppercase rounded hover:bg-black hover:bg-opacity-5
                  focus:outline-none focus:ring-0 transition duration-150 ease-in-out flex gap-1">

        <div class="inline-block bg-amber-400 dark:bg-yellow-500 w-4 h-4"
              style="-webkit-mask: url(assets/images/keyboard_backspace.svg) 50% 50% no-repeat;
                    mask: url(assets/images/keyboard_backspace.svg) 50% 50% no-repeat ;
                    -webkit-mask-size: cover;
                    mask-size: cover;">
        </div>
      </a> -->

      <div class="w-full">
        <h2 class="text-typo-title dark:text-typo-title-dk leading-6 text-lg uppercase font-semibold lg:border-none lg:float-right">
          Réalisations
        </h2>

        <div class="text-gray-typo">
        </div>
      </div>
    </div>



  </header>

  <div class="bg-main dark:bg-main-dk
              w-full lg:w-3/4 px-14 pt-6 lg:pt-12 pb-12">

    <div class="flex flex-wrap flex-col md:flex-row self-auto md:items-stretch
    justify-start justify-items-start
                gap-6">

      <div class="flex flex-col bg-gray-high dark:bg-gray-high-dk
                  max-w-xs min-w-min rounded overflow-hidden shadow-lg"
           *ngFor="let item of data.realisations">

        <img class="w-full" src="{{data.strapiUrl + item.attributes.img.data.attributes.formats.small.url}}"
              alt="{{data.strapiUrl + item.attributes.img.data.attributes.alternativeText}}">

        <div class="px-6 py-4 flex-grow">
          <h3 _ngcontent-fuo-c28=""
              class="text-typo-title dark:text-typo-title-dk mb-2 font-semibold uppercase text-sm"> {{item.attributes.title}} </h3>
          <blockquote  class="text-gray-typo text-sm">
            {{item.attributes.intro}}
          </blockquote>
        </div>
        <div class="p-6">
          <button [routerLink]="['view', {id:item.id}]"
                  class="text-black hover:text-white
                        focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium
                        rounded-sm text-sm px-5 py-2.5 mr-2 mb-2
                        bg-amber-400 hover:bg-typo
                        dark:bg-yellow-500 dark:hover:bg-typo">
            Lire
          </button>
        </div>
        <!-- <div class="px-6 pt-4 pb-2">
          <span class="inline-block bg-gray-500 rounded-lg px-3 py-1 text-sm font-semibold text-gray-sombre mr-2 mb-2">#AngularJS</span>
          <span class="inline-block bg-gray-500 rounded-lg px-3 py-1 text-sm font-semibold text-gray-sombre mr-2 mb-2">#Jelix</span>
          <span class="inline-block bg-gray-500 rounded-lg px-3 py-1 text-sm font-semibold text-gray-sombre mr-2 mb-2">#SIG</span>
        </div> -->
      </div>
    </div>
  </div>
</section>






