/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import 'assets/css/tailwind.css';

@import 'assets/css/main.css';

@import 'assets/css/loader.css';

@import 'assets/css/spinner.css';

.activebutton {
  border-bottom: 2px solid rgba(234, 179, 8, var(--tw-text-opacity));
}

.image-rotate img {
  // transform: rotateX(4deg) rotateZ(-2deg) ;
  // perspective: 3000px;
  // width: 50%;
  // margin: auto;
  // position: absolute;
  // left: 50%;
  // top:50%;
  // transform: translate(-35%, -50%);
  // transform-style: preserve-3d;
}
.image-shadow img {
  box-shadow: -8px 6px 10px 5px rgba(0,0,0,0.4);
  // box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
  transition: all .4s;
  transform-style: preserve-3d;
}
// .image3D:hover {
//   transform: translate(-50%, -50%);
// }
// .image3D:hover img {
//   transform: rotateX(0deg) rotateZ(0deg) translate3d(0px, 0px, 0px);
//   box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.0);
// }

markdown h3 {
  line-height: 1.5;
  font-weight: 500;
  font-size: 1.5rem;
  padding-bottom: 1rem
}

markdown h4 {
  line-height: 1.5;
  font-weight: 500;
  font-size: 1.25rem;
  padding-bottom: 0.75rem
}

markdown h5 {
  line-height: 1.5;
  font-weight: 500;
  font-size: 1rem;
}

markdown p {
  margin-bottom: 0.55rem
}

markdown > ul {
  list-style-type: disc;
  padding-inline-start: 1rem;
}

markdown img {
  margin-bottom: 1.5rem;
  box-shadow: -8px 6px 10px 5px rgba(0,0,0,0.4);
  transition: all .4s;
  transform-style: preserve-3d;
  width: 75%;
  margin: auto auto 1.5rem
}

@media screen and (max-width: 767px) {
  markdown img {
    width: 100%;
  }
}

markdown ul {
  padding-bottom: 0.75rem;
}
